<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
    />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <link rel='stylesheet' href='./styles.css' />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/categories">Categories</a></li>
        </ul>
      </div>
    </header>
    <div class='news'>
      <div class='container'>
        <h2 class="title">Categories</h2>
        <div class="news-list">
          {{#each data}}
            <div class='news-item'>
              <div class="news-item__content">
                <div class="news-item__header">
                  <h3>{{name}}</h3>
                </div>
              </div>

              <div class="news-item__actions">
                <a href="/categories/{{id}}" class="news-item__read-link">Read</a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="container">
      <div class='pagination'>
        <div class='per-page'>
          <label for='per-page-select'>Items per page:</label>
          <select id='per-page-select' onchange='location = this.value;'>
            <option value='?page={{pagination.page}}&perPage=10'>10</option>
            <option value='?page={{pagination.page}}&perPage=20'>20</option>
            <option value='?page={{pagination.page}}&perPage=50'>50</option>
          </select>
        </div>
        <div class="pages">
          {{#if pagination.prevPage}}
            <a
              href='?page={{pagination.prevPage}}&perPage={{pagination.perPage}}'
            >Previous</a>
          {{else}}
            <span class='disabled'>Previous</span>
          {{/if}}

          {{#if pagination.nextPage}}
            <a
              href='?page={{pagination.nextPage}}&perPage={{pagination.perPage}}'
            >Next</a>
          {{else}}
            <span class='disabled'>Next</span>
          {{/if}}
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const items = document.querySelectorAll('#per-page-select option');
        console.log(items);
        const perPageQuery = window.location.search;
        items.forEach((element) => {
          if(perPageQuery === element.value) {
            element.setAttribute('selected', true);
          }
        });
      })

    </script>

  </body>
</html>
