<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
    />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <link rel='stylesheet' href='../styles.css' />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class='container'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/categories'>Categories</a></li>
        </ul>
      </div>
    </header>
    <div class='news'>
      <div class='container'>
        <div class='news-details'>
          <div class='news-details__header'>
            <h2>{{category.name}}</h2>
          </div>
        </div>

        <div class='news'>
          <div class='container'>
            <h2 class='title'>News</h2>
            <div class='news-list'>
              {{#each news}}
                <div class='news-item'>
                  <div class='news-item__content'>
                    <div class='news-item__header'>
                      <h3>{{title}}</h3>
                      <p>{{category.name}}</p>
                    </div>
                    <p>{{text}}</p>
                  </div>

                  <div class='news-item__actions'>
                    <a href='/news/{{id}}' class='news-item__read-link'>Read</a>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
