<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta
    name='viewport'
    content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
  />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <link rel='stylesheet' href='../styles.css' />
  <title>Document</title>
</head>
<body>
<header>
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
  </div>
</header>
<div class='news'>
  <div class='container'>
    <div class="news-details">
          <div class="news-details__header">
            <h2>{{post.title}}</h2>
            <p>{{post.category.name}}</p>
          </div>
          <p class="news-details__text">{{post.text}}</p>
    </div>
    <div class="news-details__comments">
      <p>Comments</p>
      <div class="news-details__comments-list">
        {{#each post.comments}}
          <div class="news-details__comment-item">
            <p>{{text}}</p>
            <p>{{createdAt}}</p>

          </div>
        {{/each}}

      </div>

      <form  onsubmit="myFunc({{post.id}}); return false;">
        <textarea name="comment" id="commentTextarea" cols="30" rows="10"></textarea>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="../script.js"></script>
</body>
</html>
