p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  background: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  margin-bottom: 24px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
.news-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 16px;
  box-shadow: 0px 0px 3px 0px #dfdfdfdf;
}

.news-item__content {
  margin-bottom: 8px;
}

.news-item__read-link {
  background: #087;
  border-radius: 2px;
  padding: 4px 8px;
  color: #fff;
}

.news-item__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.news-item h3 {
  margin: 0;
}

.news-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.news-item__header p {
  margin: 0;
  font-size: 12px;
  color: #999;
}

.news-details {
  margin-bottom: 40px;
}

.news-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.news-details__header p {
  margin: 0;
  font-size: 12px;
  color: #999;
}

.news-details__text {
  font-size: 14px;
  color: #000;
}

.read-link {
}

.news-details__comments p {
  margin-bottom: 16px;
}

.news-details__comments textarea {
  width: 100%;
  margin-bottom: 8px;
}

.news-details__comment-item {
  display: flex;
  justify-content: space-between;
  background: #dfdfdf;
  padding: 10px 16px;
  width: 100%;
  margin-bottom: 8px;
}

.pagination {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination .pages a {
  margin-right: 12px;
}

.pagination span.disabled {
  color: #dfdfdf;
}
.pagination span.disabled:first-child {
  margin-right: 12px;
}
